[submodule "terraform/zephyr-alpha/terraform-aws-eks-blueprints"]
	path = terraform/zephyr-alpha/terraform-aws-eks-blueprints
	url = https://github.com/zephyrproject-rtos/terraform-aws-eks-blueprints.git
